/** search start  */

.modal-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 100;
    opacity: 0;
    transition: .3s ease all;
  }
  
  .modal-search::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  /* search açıldığında arka kısmı grileştiriyor */
  
  .modal-wrapper {
    max-width: 800px;
    width: 100%;
    background-color: white;
    position: fixed;
    /* search açık iken arka kısımda arama çubuğunu kaydırdığında search kısmı sabit kalacak. */
    z-index: 10;
    /* arka kısma gri verince search başta arkada kaldı bu kodla beraber onu öne çektik */
    padding: 30px;
  }
  
  .modal-search .modal-title {
    font-size: 30px;
    font-weight: 600;
  }
  
  .modal-search .modal-text {
    font-size: 14px;
    color: #7a7a7a;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(255, 0, 255);
  }
  
  .modal-search .search-form {
    margin-top: 10px;
    display: flex;
    position: relative;
  }
  
  .modal-search .search-form input {
    width: 100%;
    max-height: 42px;
    border-color: #dee;
  }
  /* search çubuğunu enlemesine uzattık */
  
  .modal-search .search-form button {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*display: grid;place-content: center;   (display-align-justify aynı görevi yaptılar)  */
    /* display ve place content kısmı ile search objesini arka planında ortaladık */
  
    border: 1px solid #dee;
  }
  /* search form a relative vererek ve button kısmında absolute verip obje ile oynakarak arama çubuğunun içine objeyi ekledik */
  
  .modal-search .search-form button i {
    font-size: 16px;
  }
  
  .modal-search .search-results {
    margin-top: 16px;
  }
  
  .modal-search .search-heading {
    padding: 15px;
    background-color: #f9f9;
    border: 1px solid rgb(58, 107, 107);
  }
  
  .modal-search .search-heading h3 {
    font-size: 16px;
    font-weight: 600;
  }
  
  .modal-search .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 1px solid #dee;
  }
  
  .modal-search .results-item {
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #dee0ea;
    border-right: 1px solid #dee0ea;
    transition: background-color 0.2s ease;
  }
  
  .modal-search .results-item:hover {
    background-color: #f9f9f9;
  }
  
  .modal-search .search-thumb {
    max-width: 65px;
    width: 100%;
  }
  
  .modal-search .search-info {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
  
  .modal-search .search-sku {
    color: #7a7a7a;
    margin: 2px 0;
  }
  
  .modal-search .search-price {
    font-weight: 600;
    color: #dc3545;
  }
  
  .modal-search .bi-x-circle {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /** search end  */

  
/*! search responsive */

@media (max-width: 992px) {
    .modal-search .modal-wrapper{
      margin: 300px;
    }
    .modal-search .results{
      grid-template-columns: 1fr;
    }
  }